<mat-stepper [linear]=true #stepper>

    <mat-step [stepControl]="organizationFormGroup" editable="false" label="Organization Info">
        <form [formGroup]="organizationFormGroup">

            <mat-form-field class="formField01" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="Name" placeholder="Name" required>
            </mat-form-field>

            <mat-form-field class="formField01" appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="OrgStartDatePicker" formControlName="Start">
                <mat-hint>MM/dd/yyyy</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="OrgStartDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #OrgStartDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="formField01" appearance="fill">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="OrgEndDatePicker" formControlName="End">
                <mat-hint>MM/dd/yyyy</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="OrgEndDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #OrgEndDatePicker></mat-datepicker>
            </mat-form-field>

            <div>
                <button mat-button matStepperNext>Next</button>
            </div>

        </form>
    </mat-step>

    <mat-step [stepControl]="timelineFormGroup" label="Timeline Info">
        <form [formGroup]="timelineFormGroup">

            <mat-form-field class="formField01" appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput formControlName="Title" placeholder="Title">
                <mat-hint>(Leave Blank for Auto)</mat-hint>
            </mat-form-field>

            <mat-form-field class="formField01" appearance="fill">
                <mat-label>Subtitle</mat-label>
                <input matInput formControlName="Subtitle" placeholder="Subtitle">
            </mat-form-field>

            <mat-form-field class="formField01" appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="StartDatePicker" formControlName="Start">
                <mat-hint>MM/dd/yyyy (Leave Blank for Auto)</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="StartDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #StartDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="formField01" appearance="fill">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="EndDatePicker" formControlName="End">
                <mat-hint>MM/dd/yyyy (Leave Blank for Auto)</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="EndDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #EndDatePicker></mat-datepicker>
            </mat-form-field>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>

        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button type="Submit" mat-button>View Timeline</button>
        </div>
    </mat-step>
</mat-stepper>

